# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# testing for admin portal ci/cd pipeline for ec2 instance ## testing for the pipeline
# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
*.sql

#scripts
/scripts/*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

AWS_S3_SETUP.md

PERFORMANCE_OPTIMIZATION_REPORT.md
S3_MIGRATION.md
OPTIMIZATION_GUIDE.md
index.html